<div class="delivery-bar">
  <div class="grid-wrapper">
    <div class="grid-cell">
      <div class="cell-icon">
        {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/paper_plane.png?v=1592637719' | img_tag }}
      </div>
      <div class="cell-text">
        {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/First_Shipping.png?v=1592637719' | img_tag }}
        {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Get_you_every_whare.png?v=1592637719' | img_tag }}
      </div>
    </div>
    <div class="grid-cell">
      <div class="cell-icon"></div>
      <div class="cell-text"></div>
    </div>
    <div class="grid-cell">
      <div class="cell-icon"></div>
      <div class="cell-text"></div>
    </div>
    <div class="grid-cell">
      <div class="cell-icon"></div>
      <div class="cell-text"></div>
    </div>
  </div>
</div>