<div class="product_tabs_1_desktop">
  <div class="tabs_header">
    <div class="arrow left">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/left_green_arrow.png?v=1593000609' }}" alt="left_arrow">
    </div>
    <div class="tab" id="desktop">Desktop</div>
    <div class="arrow right">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/right_green_arrow.png?v=1593000611' }}" alt="right_arrow">
    </div>
  </div>
  <div class="tabs_container desktop">
    <div class="tab_product">
      <div class="product_photo"></div>
      <div class="product_name_container"></div>
      <div class="price_and_rating"></div>
      <div class="buttons_bar"></div>
    </div>
    <div class="tab_product">
      <div class="product_photo"></div>
      <div class="product_name_container"></div>
      <div class="price_and_rating"></div>
      <div class="buttons_bar"></div>
    </div>
    <div class="tab_product">
      <div class="product_photo"></div>
      <div class="product_name_container"></div>
      <div class="price_and_rating"></div>
      <div class="buttons_bar"></div>
    </div>
    <!-- {% include 'tab_product' %}
    {% include 'tab_product' %}
    {% include 'tab_product' %} -->
  </div>
</div>