<div class="product_tabs_4">

  <div class="tabs_header">
    <div class="arrow left" onclick="prev()">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/left_green_arrow.png?v=1593000609' }}" alt="left_arrow">
    </div>

    <nav class="multiTabs">
        <a href="javascript:void(0)" data-trigger='content1'>
          <div class="tab active">Featured</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content2'>
          <div class="tab">New Item</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content3'>
          <div class="tab">Top Seller</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content4'>
          <div class="tab">Top Rating</div>
        </a>

    </nav>    

    <div class="arrow right" onclick="next()">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/right_green_arrow.png?v=1593000611' }}" alt="right_arrow">
    </div>
  </div>



      
      
    <!-- content  -->
    <div class="tabcontent active bg-light" id="content1">
        <h1>Tab1</h1>
        <p>This is some text about tab1</p>
    </div>
    <div class="tabcontent bg-light" id="content2">
        <h1>Tab2</h1>
        <p>This is some text about tab2</p>
    </div>
    <div class="tabcontent  bg-light" id="content3">
        <h1>Tab3</h1>
        <p>This is some text about tab3</p>
    </div>
    <div class="tabcontent  bg-light" id="content4">
        <h1>Tab4</h1>
        <p>This is some text about tab4</p>
    </div>







</div>

<script>
  var currentTab = 1;
  $("#contetn1").show();

  $(document).on('click', 'nav.multiTabs>a',
  function(){
      var TabId = $(this).attr('data-trigger');
      $('div#'+TabId+' ').show();
       
      console.log("Current Tab: " + TabId);
      currentTab = parseInt(TabId.replace("content", ""));

      $('.tabcontent:not(#'+TabId+')').hide()

  });
   
  function next(){
      if(currentTab < 4){
          $(".tabcontent").hide();
          currentTab++;
          $("#content"+(currentTab)).show();
      }
  }
   
  function prev(){
      if(currentTab > 1){
          $(".tabcontent").hide();
          currentTab--;
          $("#content" + (currentTab)).show();
      }
  }
</script>