<div class="product_tabs_1_laptop">
  <div class="tabs_header"></div>
  <div class="tabs_container">
    {% include 'tab_product' %}
    {% include 'tab_product' %}
    {% include 'tab_product' %}    
  </div>
</div>