<div class="promo">
  <div class="first half">
    {% assign product_image =  all_products["primo-gh"].featured_image %}
    <img class="product_image" src="{{ product_image | img_url: 'large' }}" alt="product_image">
  </div>
  <div class="second half">
    <!-- {{ COUNTDOWN }} -->
  </div>
</div>