<div class="promo">
  <div class="first half">
    {% assign product_image =  all_products["primo-gh"].featured_image %}
    <img class="product_image" src="{{ product_image | img_url: 'large' }}" alt="product_image">
    <img class="green_circle" src="https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Ellipse_2.png?v=1595271556" alt="green_circle">
  </div>
  <div class="second half">
    <!-- {{ COUNTDOWN }} -->
  </div>
</div>