<div class="subscribe">
  <img class="background" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/image.png?v=1593518977' }}" alt="background">
  <img class="overlay" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/overlay.png?v=1593519183' }}" alt="overlay">
  <img class="title" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/title.png?v=1593599193' }}" alt="title">
</div>