<div class="subscribe">
  <img class="overlay" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/overlay.png?v=1593519183' }}" alt="overlay">
  <h1 class="title">subscribe to get offer update</h1>
  <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
  {% include 'newsletter-form' %}
</div>